.icone {
    width: 30px;
}
.icone.no-lien {
    filter: grayscale(1);
}
.lettre {
    padding-right: 2px;
}
.pub {
    position: fixed;
}
.pub.pub-horizontal {
    position: inherit;

}
.reup {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.reup .gg-arrow-up-o {
    color: black;
    transform: scale(1.6);
}
